<html>
<head><title>HomePage::</title></head>

    <body>
    	<div class="container">
    Hey Welcome,${person.username?html}
    <br>
    Job : ${person.job?html}
    <br>
    <br>
     <a id="logout" href="">Logout</a>
 </div>
 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/assets/script.js"></script>

    </body>
</html>